<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="cat $(find ai_car)/urdf/ai_car.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(find ai_car)/maps/map.yaml"/>

    <!-- <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom"/> -->

    <include file="$(find ai_car)/launch/amcl.launch"/>

    <node name="move_base" pkg="move_base" type="move_base"  output="screen">
        <rosparam command="load" file="$(find ai_car)/config/costmap_common_params.yaml" ns="global_costmap"/>
        <rosparam command="load" file="$(find ai_car)/config/costmap_common_params.yaml" ns="local_costmap"/>
        <rosparam command="load" file="$(find ai_car)/config/global_costmap_params.yaml"/>
        <rosparam command="load" file="$(find ai_car)/config/local_costmap_params.yaml"/>
        <rosparam command="load" file="$(find ai_car)/config/move_base_params.yaml"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ai_car)/rviz/nav.rviz"/>


</launch>