<?xml version="1.0"?>
<launch>
    <param name="robot_description" command="cat $(find ai_car)/urdf/ai_car.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="slam" pkg="gmapping" type="slam_gmapping" output="screen">
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_frame" value="map"/>
        <rosparam command="load" file="$(find ai_car)/config/gmapping_params.yaml"/>
    </node>    
              
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ai_car)/rviz/slam.rviz"/>

</launch>